{% extends 'feeds/base.html' %}

{% load i18n %}
{% load account socialaccount %}

{% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">
      <span class="icon is-small">
	<i class="fa fa-unlock"></i>
      </span>
      <span>&nbsp;{% trans "Sign In" %}</span>
    </div>
    <div class="card-body">

      {% get_providers as socialaccount_providers %}

      {% if socialaccount_providers %}
      <p>Sign in with:</p>
      <a role="button" class="btn btn-danger" href="{% provider_login_url "google" process="login" %}">
	<span class="icon is-small">
	  <i class="fa fa-google"></i>
	</span>
	&nbsp;Google
      </a>
      <a role="button" class="btn btn-dark" href="{% provider_login_url "google" process="connect" %}">
	<span class="icon is-small">
	  <i class="fa fa-github"></i>
	</span>
	&nbsp;Github
      </a>
      {% endif %}

      <br>
      <br>

      <form class="login" method="POST" action="{% url 'account_login' %}">
	{% csrf_token %}
	{{ form.as_p }}
	{% if redirect_field_value %}
	<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
	{% endif %}
	<button class="btn btn-success my-3" type="submit">{% trans "Sign In" %}</button>
      </form>
      <a style="margin-right: 0.3rem" href="{{ signup_url }}">{% trans "Sign Up" %}</a>
      <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </div>
  </div>
</div>
{% endblock %}
