{% extends 'feeds/base.html' %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">
      <span class="icon is-small">
	<i class="fa fa-key"></i>
      </span>
      <span>&nbsp;{% trans "Password Reset" %}</span>
    </div>
    <div class="card-body">
      {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
      <div class="alert alert-primary d-flex align-items-center" role="alert">
	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
	  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
	</svg>

	<div>
	  {% trans "We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes." %}
	</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
