{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="RSS Feedreader">
    <meta name="keywords" content="RSS,Django,Python,Blogs,Atom,Feed">
    <meta name="author" content="Jack Evans">
    <link rel="manifest" href="{% static 'feeds/manifest.json' %}">
    <title>Feedreader{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{% static 'feeds/favicon.ico' %}" type="image/x-icon" >
    <script async src="https://kit.fontawesome.com/44c15f8fd8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>FeedReader</title>
  </head>
  {% block style %}
  {% endblock %}
  <body>
    <header class="pb-3">
    {% include 'feeds/navbar.html' %}
    </header>
  </main>

  <div class="container">
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == "debug" %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
	<i class="fa-solid fa-bug"></i>&nbsp;
	{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% elif message.tags == "info" %}
      <div class="alert alert-primary alert-dismissible fade show" role="alert">
	<i class="fa-solid fa-info-circle"></i>&nbsp;
	{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% elif message.tags == "success" %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
	<i class="fa-solid fa-check"></i>&nbsp;
	{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% elif message.tags == "warning" %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
	<i class="fa-solid fa-warning"></i>&nbsp;
	{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% elif message.tags == "error" %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
	<i class="fa-solid fa-bomb"></i>&nbsp;
	{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  </div>
  {% block content %}
  {% endblock %}

    </main>
  </body>
  {% block scripts %}
  {% endblock %}
</html>
