{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="RSS Feedreader">
    <meta name="keywords" content="RSS,Django,Python,Blogs,Atom,Feed">
    <meta name="author" content="Jack Evans">
    <title>Feedreader{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'feeds/bulma.min.css' %}"> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{% static 'feeds/favicon.ico' %}" type="image/x-icon" >
    <script async src="https://kit.fontawesome.com/44c15f8fd8.js" crossorigin="anonymous"></script>
    <title>FeedReader</title>
  </head>
  {% block style %}
  {% endblock %}

<style>
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}
</style>
  <body>
    <header class="pb-3">
    {% include 'feeds/navbar.html' %}
    </header>
  </main>
      <div class="container">
	{% if messages %}
	{% for message in messages %}
	<div class="notification is-primary">
	  <button class="delete"></button>
	  {{ message }}
	</div>
	{% endfor %}
	{% endif %}
	{% block content %}
	{% endblock %}
      </div>
    </main>
  </body>
  {% block scripts %}
  {% endblock %}
</html>
