{% extends 'feeds/base.html' %}
{% block content %}
<div class="container">
  <div class="d-flex justify-content-between pb-3 align-items-baseline">
    <h1 class="title">{{ category.name }}</h1>
    <a class="btn btn-outline-danger mt-3" href="{% url 'feeds:category-delete' category.pk %}">
      <span class="icon-text">
	<span class="icon">
	  <i class="fas fa-trash"></i>
	</span>
	<span>Delete</span>
    </a>
  </div>

	{% if category.subscriptions.all %}

	<table class="table table-striped table-hoverable"> 
	  <tr>
	    <th>Title</th>
	    <th>Category</th>
	  </tr>
	  {% for subscription in category.subscriptions.all %}
	  <tr>
	    <td>
	      <a class="text-decoration-none" href="{{ subscription.get_absolute_url }}">{{ subscription.feed.title }}</a>
	    </td>
	    <td>
	      {{ subscription.category|default:"-"}}
	    </td>
	  </tr>
	  {% endfor %}
	</table>

	{% else %}
	<div class="alert alert-warning">No subscriptions are available. <a class="alert-link" href="{% url 'feeds:feed-discover' %}">Add Feed</a></div>
	{% endif %}
      </div>
</div>
{% endblock %}
