{% extends 'feeds/base.html' %}
{% block style %}
<style>
img, video {
  max-width: 90%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
pre {
  background: #fdf6e3;
  color: #002b36;
  padding: 1rem;
  border-radius: 0.4rem;
}

@media (min-width: 576px) {
  .container {
    max-width: 70%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 60%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 40%;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 30%;
  }
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}
</style>
{% endblock %}

{% block content %}
<div class="container mx-auto">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'feeds:index' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'feeds:feed-list' %}">Feeds</a></li>
      <li class="breadcrumb-item"><a href="{{ entry.feed.get_absolute_url }}">{{ entry.feed.title }}</a></li>
      <li class="breadcrumb-item active text-truncate">{{ entry.title }}</li>
    </ol>
  </nav>

  <article class="blog-post">
    <h2 class="blog-post-title mb-1text-break">{{ entry.title }}</h2>
    <p class="blog-post-meta">{{ entry.published | date }}{% if entry.author %} by <a href="#">{{ entry.author }}</a>{% endif %}</p>
    <a class="btn btn-sm btn-outline-primary" href="{{ entry.link }}">
      <span class="icon is-small">
	<i class="fa-solid fa-arrow-up-right-from-square"></i>
      </span>
      <span>View</span>
    </a>
    <hr>
    {% if entry.content %}
    {{ entry.content|safe }}
    {% endif %}
  </article>
</div>
{% endblock %}
