{% extends 'feeds/base.html' %}

{% load i18n %}

{% load static %}

{% block content %}
<div class="container">
	<div class="card">
		<div class="card-header">
			<span class="icon is-small">
				<i class="fa fa-upload"></i>
			</span>
			<span>&nbsp;Import</span>
		</div>
		<div class="card-body" id="card">
			{% if data.skipped %}
				<div class="alert alert-warning" role="alert">
					<i class="fa-solid fa-warning"></i>&nbsp;
					{% blocktranslate count counter=data.skipped|length %}
					Skipping as you're already subscribed:
					{% plural %}
					Skipped {{ data.skipped|length }} feeds as you're already subscribed:
					{% endblocktranslate %}
					<hr>
					<ul>
					{% for skipped in data.skipped %}
					<li>{{ skipped }}</li>
					{% endfor %}
					</ul>
				</div>
			{% endif %}
			<div id="progress" class="progress mt-2 mb-4">
				<div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-label="import progress" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<table id="results" class="table table-striped table-hover table-is-responsive">
				<thead>
					<tr>
						<th>External URL</th>
						<th>Category</th>
						<th>Status</th>
						<th>URL</th>
					</tr>
				</thead>
				{% for row in data.children %}
					<tr id="{{ row.id }}">
						<td><a href={{ row.url }}>{{ row.url }}</a></td>
						<td>{{ row.category|default_if_none:"-" }}</td>
						<td>PENDING</td>
					  <td>...</td>
					</tr>
				{% endfor %}
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
{{ data|json_script:"data" }}
<script>
const card = document.getElementById("card");
const progress = document.getElementById("progress");
const progressBar = progress.firstElementChild;
const resultsSection = document.getElementById("results");

function getStatus(groupID, feeds, backOff) {
	fetch(`/task/group/${groupID}`, {
		method: 'GET',
		headers: {
			'Content-Type': 'application/json'
		},
	})
		.then(response => response.json())
		.then(resp => {

			let completedCount = 0;

			for (task of resp.children) {
				if (task.status === 'SUCCESS' || task.status === 'FAILURE') {
					completedCount++
				}

				feed = feeds.get(task.id);

				// Only update the DOM if the task has changed status
				if (task.status !== feed.status) {

					let URLRow = "..."
					if (task.status === 'SUCCESS') {
						URLRow = `<a href=${task.result.url}>${task.result.url}</a>`
					}

					let html = `
						<tr id="${task.id}">
						<td><a href=${feed.url}>${feed.url}</a></td>
						<td>${feed.category || "-"}</td>
						<td>${task.status}</td>
						<td>${URLRow}</td>
						</tr>`
					document.getElementById(task.id).innerHTML = html;
				}


				// Update the feed status
				feed.status = task.status;
				feeds.set(task.id, feed);
			}

			const percentageProgress = (completedCount / resp.children.length) * 100;
			console.log(completedCount, percentageProgress);
			progressBar.style.width = `${percentageProgress}%`
			progressBar.ariaValueNow = {percentageProgress}

			if (completedCount === resp.children.length)  {
				// TODO do we also want to display errors here?
				progressBar.classList.remove('progress-bar-animated');
				let alertSection = document.createElement("div");
			  alertSection.classList.add('alert', 'alert-success', 'fade', 'show', 'mt-3');
				alertSection.innerHTML = `Imported ${resp.completedCount} of ${resp.children.length}`;
				card.insertBefore(alertSection, card.firstChild);
				return
			}

			backOff = backOff + 1000;
			if (backOff >= 5000) {
				backOff = 5000;
			}

			setTimeout(function() {
				getStatus(groupID, feeds, backOff);
			}, backOff);
		})
		.catch(err => console.log(err));
}

const resp = JSON.parse(document.getElementById('data').textContent)
const feeds = new Map();
for (task of resp.children) {
	feeds.set(task.id, {url: task.url, category: task.category}) ;
}
getStatus(resp.id, feeds, 1000);
</script>
{% endblock %}
