{% extends 'feeds/base.html' %}

{% block content %}

<div class="container">

  <nav aria-label="breadcrumbs">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active"><a href="{% url 'feeds:index' %}" aria-current="page">Home</a></li>
    </ol>
  </nav>
  {% if page_obj %}

  <table class="table table-striped table-hoverable">
    <tr>
      <th>
	<span class="icon-text">
	  <span class="icon">
	    <i class="fas fa-list"></i>
	  </span>
	  <span>&nbsp;Title</span>
	</span>
      </th>
      <th class="text-nowrap d-none d-lg-table-cell">
	<span class="icon-text">
	  <span class="icon">
	    <i class="fas fa-calendar"></i>
	  </span>
	  <span>&nbsp;Published</span>
	</span>
      </th>
      <th>
	<span class="icon-text">
	  <span class="icon">
	    <i class="fas fa-rss"></i>
	  </span>
	  <span>&nbsp;Feed</span>
	</span>
      </th>
    </tr>
    {% for entry in page_obj %}
    <tr>
      <td>
	<a class="text-decoration-none" href="{{ entry.get_absolute_url }}">{{ entry.title|truncatewords:10 }}</a>
      </td>
      <td class="d-none d-lg-table-cell">
	{% if entry.updated %}
	{{ entry.updated | date }}
	{% else %}
	{{ entry.published | date }}
	{% endif %}
      </td>
      <td>
	<a class="text-decoration-none" href={{ entry.feed.get_absolute_url }}>
	      {% if entry.feed.favicon %}
	        <img style="border-radius: 50%; width: 20px; height: 20px; margin-right: 0.3rem;" src="{{ entry.feed.favicon.url }}"></img>
	      {% endif %}
		{{ entry.feed.title }}
	</a>
      </td>
    </tr>
    {% endfor %}
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination">

      {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% else %}
      <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
      {% endif %}

      <li class="page-item">
	{% if page_obj.has_previous %}
	<a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Goto page {{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
	{% endif %}
      </li>
      <li class="page-item active">
	<span class="page-link">{{ page_obj.number }}</span>
      </li>
      {% if page_obj.has_next %}
      <li class="page-item">
	<a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Goto page {{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
      </li>
      {% endif %}
      {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      {% else %}
      <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
      {% endif %}
    </ul>
  </nav>

  {% else %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <i class="fa-solid fa-triangle-exclamation"></i>&nbsp;
    <span>No articles available <a class="alert-link" href="{% url 'feeds:feed-discover' %}">Add a feed</a></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}

</div>
{% endblock %}
