{% load i18n %}
<nav class="navbar navbar-expand-lg {% if debug %}navbar-light bg-warning{% else %}navbar-dark bg-primary{% endif %}">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'feeds:index' %}">
      <span class="icon-text">
	<span class="icon">
	  <i class="fas fa-rss"></i>
	</span>
	<span>Feedreader {% if debug %}- DEV{% endif %}</span>
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	{% if request.user.is_authenticated %}
	{% url 'feeds:feed-list' as link %}
	{% if link %}
	<li class="nav-item">
	  <a class="nav-link {% if request.path == link %}active{% endif %}" href="{{ link }}">
	    <span class="icon-text">
	      <span class="icon">
		<i class="fas fa-list"></i>
	      </span>
	      <span>&nbsp;Feeds</span>
	    </span>
	  </a>
	</li>
	{% endif %}
	{% url 'feeds:category-list' as link %}
	{% if link %}
	<li class="nav-item">
	  <a class="nav-link {% if request.path == link %}active{% endif %}" href="{{ link }}">
	    <span class="icon-text">
	      <span class="icon">
		<i class="fas fa-tags"></i>
	      </span>
	      <span>&nbsp;Categories</span>
	    </span>
	  </a>
	</li>
	{% endif %}

	{% url 'feeds:feed-discover' as link %}
	{% if link %}
	<li class="nav-item">
	  <a class="nav-link {% if request.path == link %}active{% endif %}" href="{{ link }}">
	    <span class="icon-text">
	      <span class="icon">
		<i class="fas fa-plus"></i>
	      </span>
	      <span>&nbsp;Add Feed</span>
	    </span>
	  </a>
	</li>
	{% endif %}
	{% endif %}
      </ul>
      <ul class="navbar-nav">
	{% if request.user.is_authenticated %}
	<li class="nav-item">
	  <a class="nav-link" href="{% url 'account_logout' %}">
	    <span class="icon-text">
	      <span class="icon">
		<i class="fas fa-arrow-right-from-bracket"></i>
	      </span>
	      <span>&nbsp;{% trans 'Sign Out' %}</span>
	    </span>
	  </a>
	</li>
	{% url 'feeds:profile' as link %}
	{% if link %}
	<li class="nav-item">
	  <a class="nav-link {% if request.path == link %}active{% endif %}" href="{{ link }}">
	    <span class="icon-text">
	      <span class="icon">
		<i class="fas fa-user"></i>
	      </span>
	      <span>&nbsp;Profile</span>
	    </span>
	  </a>
	</li>
	{% endif %}
	{% else %}
	{% url 'login' as link %}
	{% if link %}
	<li class="nav-item">
		<a class="nav-link {% if request.path == link %}active{% endif %}" href="{{ link }}">
	    <span class="icon-text">
	      <span class="icon">
		<i class="fa-solid fa-unlock"></i>
	      </span>
	      <span>&nbsp;Login</span>
	    </span>
	  </a>
	</li>
	{% endif %}
	{% url 'sign_up' as link %}
	{% if link %}
	<li class="nav-item">
	  <a class="nav-link {% if request.path == link %}active{% endif %}" href="{{ link }}">
	    <span class="icon-text">
	      <span class="icon">
		<i class="fa-solid fa-user-plus"></i>
	      </span>
	      <span>&nbsp;Sign up</span>
	    </span>
	  </a>
	</li>
	{% endif %}
	{% endif %}
      </ul>
      <form class="d-flex" role="search" method="GET" action="{% url 'feeds:search' %}">
	<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" autocomplete="off" value="{% if request.path == '/search' %}{{ request.GET.q }}{% endif %}" required>
	<button class="btn btn-info" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
