<div class="flex-shrink-0 p-3 bg-white d-none d-lg-block" style="width: 300px; height: 100vh; overflow-y: scroll;">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
    <span class="icon-text">
      <span class="icon">
	<i class="fas fa-rss"></i>
      </span>
      <span class="fs-5 fw-semibold">&nbsp;Feedreader</span>
  </a>
  <form class="pb-2" role="search" method="GET" action="{% url 'feeds:search' %}">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" autocomplete="off" value="{% if request.path == '/search' %}{{ request.GET.q }}{% endif %}" required>
  </form>
  <ul class="nav nav-pills flex-column mb-auto">
    {% url 'feeds:index' as link %}
    {% if link %}
    <li class="nav-item">
      <a href="{{ link }}" class="nav-link {% if request.path == link %}active{% else %}link-dark{% endif %}">
	<span class="icon-text">
	  <span class="icon">
	    <i class="fas fa-home"></i>
	  </span>
	  <span>&nbsp;Home</span>
	</span>
      </a>
    </li>
    {% endif %}
    {% url 'feeds:feed-discover' as link %}
    {% if link %}
    <li>
      <a href="{{ link }}" class="nav-link {% if request.path == link %}active{% else %}link-dark{% endif %}">
	<span class="icon-text">
	  <span class="icon">
	    <i class="fas fa-plus"></i>
	  </span>
	  <span>&nbsp;Add Feed</span>
	</span>
      </a>
    </li>
    {% endif %}
    {% url 'feeds:feed-list' as link %}
    {% if link %}
    <li>
      <a href="{{ link }}" class="nav-link {% if request.path == link %}active{% else %}link-dark{% endif %}">
	<span class="icon">
	  <i class="fas fa-list"></i>
	</span>
	<span>&nbsp;Feeds</span>
      </a>
    </li>
    {% endif %}
    {% url 'feeds:category-list' as link %}
    {% if link %}
    <li>
      <a href="{{ link }}" class="nav-link {% if request.path == link %}active{% else %}link-dark{% endif %}">
	<span class="icon">
	  <i class="fas fa-tags"></i>
	</span>
	<span>&nbsp;Categories</span>
      </a>
    </li>
    {% endif %}
  </ul>
  <ul class="list-unstyled ps-0">
    <li class="border-top my-3"></li>
    {% regroup all_subscriptions by category as subscriptions_by_category %}
    {% for category in subscriptions_by_category %}
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#{{category.grouper}}-collapse" aria-expanded="false">
	  {% if category.grouper %}
	  {{ category.grouper }}
	  {% else %}
	  Ungrouped
	  {% endif %}
      </button>
      <div class="collapse" id="{{category.grouper}}-collapse">
	<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
	  {% for subscription in category.list %}
	  <li>
	    <a href={{ subscription.feed.get_absolute_url }} class="link-dark rounded d-flex align-items-center">
	      {% if subscription.feed.favicon %}
	        <img style="width: 25px; height: 25px; margin-right: 10px; object-fit: contain;" src="{{ subscription.feed.favicon.url }}" loading="lazy"></img>
	      {% endif %}
	      <b>{{ subscription.feed.title }}</b>
	    </a>
	  </li>
	  {% endfor %}
	</ul>
      </div>
    </li>
    {% endfor %}
    <li class="border-top my-3"></li>
  </ul>
  <ul class="nav nav-pills flex-column mb-auto">
    {% url 'feeds:profile' as link %}
    {% if link %}
    <li>
      <a href="{{ link }}" class="nav-link {% if request.path == link %}active{% else %}link-dark{% endif %}">
	<span class="icon">
	  <i class="fas fa-user"></i>
	</span>
	<span>&nbsp;Profile</span>
      </a>
    </li>
    {% endif %}
  </ul>
</div>
