{% extends 'feeds/base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">
      <span class="icon is-small">
	<i class="fa fa-rss"></i>
      </span>
      <span class="icon is-small">
	<i class="fa fa-plus"></i>
      </span>
      <span>&nbsp;Add feed</span>
    </div>
    <div class="card-body">
      <form id="subscriptionCreateForm" method="post" onSubmit="this.disabled=true,this.form.submit();">
	{% csrf_token %}
	{{ form.as_p }}
	<div class="d-flex flex-row justify-content-between align-items-baseline">
	  <button id="submit-button" class="btn btn-success" type="submit" onclick="this.disabled=true,this.form.submit();">
	    <span class="icon-text">
	      <span class="icon">
		<i class="fas fa-check"></i>
	      </span>
	      <span>Submit</span>
	    </span>
	  </button>
	  <a href="{% url 'feeds:opml-import' %}">Import feeds</a>
	</div>
      </form>
    </div>
  </div>
	<div id="results" class="d-none pt-4"></div>
</div>
{% endblock %}
{% block scripts %}
{{ categories|json_script:"categories" }}
<script src={% static 'feeds/subscription_form.js' %}/></script>
{% endblock %}
