[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"
coverage = "*"
ipython = "*"
black = "*"
mypy = "*"
ipdb = "*"
isort = "*"
django-debug-toolbar = "*"
pre-commit = "*"
django-stubs = {extras = ["compatible-mypy"], version = "*"}
litecli = "*"
django-browser-reload = "*"

[requires]
python_version = "3.11"

[packages]
gunicorn = "*"
django = "*"
unidecode = "*"
listparser = "*"
django-environ = "*"
beautifulsoup4 = "*"
bleach = "*"
httpx = "*"
django-allauth = "*"
pillow = "*"
lxml = "*"
uvicorn = "*"
python-dateutil = "*"
boto3 = "*"
django-storages = "*"
rich = "*"
setuptools = "*"
django-celery-results = "*"
django-celery-beat = "*"
celery = {extras = ["redis"], version = "*"}

[pipenv]
allow_prereleases = true
