[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"
coverage = "*"
ipython = "*"
black = "*"
mypy = "*"
ipdb = "*"
isort = "*"
django-debug-toolbar = "*"
pre-commit = "*"
django-stubs = {extras = ["compatible-mypy"], version = "*"}
litecli = "*"
pywatchman = "*"
django-browser-reload = "*"

[requires]
python_version = "3.10"

[packages]
gunicorn = "*"
django = "==4.1"
unidecode = "*"
listparser = "*"
django-environ = "*"
beautifulsoup4 = "*"
bleach = "*"
httpx = "*"
django-allauth = "*"
pillow = "*"
lxml = "*"
cchardet = "*"
uvicorn = "*"
python-dateutil = "*"
boto3 = "*"
django-storages = "*"

[pipenv]
allow_prereleases = true
