{% extends 'feeds/base.html' %}
{% block content %}
<div class="card">
  <div class="card-header">
    <span class="icon is-small">
      <i class="fa fa-unlock"></i>
    </span>
    <span>&nbsp;Login</span>
  </div>
  <div class="card-body">
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="btn btn-success my-3">
	Login
      </button>
    </form>
    <a href="{% url 'sign_up' %}">Sign Up</a>
    <a href="{% url 'password_reset' %}">Password Reset</a>
  </div>
</div>
{% endblock %}
